body, html {
    height: 100%;
    width: 100%;
}

.about-section{
    height: 100%;
    padding-top: 250px;
    text-align: center;
    background: #74b9ff;
    background: -webkit-linear-gradient(left top, #74b9ff, #81ecec);
    background: -o-linear-gradient(bottom right, #74b9ff, #81ecec);
    background: -moz-linear-gradient(bottom right, #74b9ff, #81ecec);
    background: linear-gradient(to bottom right, #74b9ff, #81ecec);
    color: #2d3436;
}

.about-section hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1.5px solid #2d3436;
}

#about-socials > li > .btn {
    border-radius: 0;
    border: 1px solid #2d3436;
    display: inline-block;
    float: none;
    margin: 0 auto;
    background: transparent;
    color: #2d3436;
}

#about-socials > li > .btn:hover {
    border-radius: 0;
    border: 1px solid #2d3436;
    display: inline-block;
    float: none;
    margin: 0 auto;
    background: #2d3436;
    color: #fff;
}

#aboutPicture {
    height: 50%;
    border-radius: 50%;
}

#aboutContent {
    padding-top: 50px;
}
.portfolio-section {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align:center;
    background: #fff;
}

.port-content {
    padding: 10px;
}

.port-content-isi {
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 5%;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .5);
}

.port-content-isi:hover {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 5%;
    /* box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .5); */
}

.port-img {
    width: 80%;
    border-radius: 20%;
    /* border: 2px solid #74b9ff; */
    margin: 2px;
}

/* .port-img:hover {
    border: 2px solid #74b9ff;
} */

h1,h2,h3 {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    background: transparent;
    border: 0px;
}

.navbar-default .navbar-nav > li > a{
    color: #2d3436;
}

a.navbar-brand {
    color: #2d3436;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #fff;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}